@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i');

$bg-body: #f5f9fc;
$font-primary: 'Nunito Sans', sans-serif;
$base-font: 16px;
$white: #ffffff;
$black: #282828;
$muted: #8A98AC;
$primary: #6e81dc;
$secondary: #718093;
$success: #5fc27e;
$danger: #f44455;
$warning: #fcc100;
$info: #72d0fb;
$light: #dcdde1;
$dark: #2d3646;
$lightgray: #d4d4d4;
$primary-rgba: rgba(110, 129, 220,0.1);
$secondary-rgba: rgba(113, 128, 147,0.1);
$success-rgba: rgba(95, 194, 126,0.1);
$danger-rgba: rgba(244, 68, 85,0.1);
$warning-rgba: rgba(252, 193, 0,0.1);
$info-rgba: rgba(114, 208, 251,0.1);
$light-rgba: rgba(220, 221, 225,0.1);
$dark-rgba: rgba(45, 54, 70,0.1);
$bg-primary-gradient: linear-gradient(58deg, #6e81dc 0, #969efa 100%);
$bg-secondary-gradient: linear-gradient(58deg, #718093 0, #e6e8f0 100%);
$bg-success-gradient: linear-gradient(58deg, #5fc27e 0, #45e396 100%);
$bg-danger-gradient: linear-gradient(58deg, #f44455 0, #ff8181 100%);
$bg-warning-gradient: linear-gradient(58deg, #fcc100 0, #fef07f 100%);
$bg-info-gradient: linear-gradient(58deg, #72d0fb 0, #a7daf5 100%);
$bg-light-gradient: linear-gradient(58deg, #dcdde1 0, #f8fbff 100%);
$bg-dark-gradient: linear-gradient(58deg, #2d3646 0, #4c4c4c 100%);
$shadow: 0px 0px 30px 0px rgba(0,0,0,0.1);
$btn-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
$menu-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
$width: 100%;
$height: 100%;
$search-bg-color: #4a5263;
$topbar-bg-color: #ffffff;
$card-bg: #ffffff;
$heading-color: #282828;
$border-color: rgba(0,0,0,0.05);
$table-color: #282828;